.data {
    margin-bottom: 50px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    padding-bottom: 30px;
    border-radius: 20px;
}

.image-caption {
    width: 95%;
    height: 450px;
    border-radius: 10px;
    margin: 24px;
}

.profile-caption {
    height: 60px;
    width: 60px;
}

.profile-info {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
}

.profile-details {
    display: flex;
    align-items: center;
    gap: 24px;
}

.profile-name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
}

.date-name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.text-name {
    width: 737px;
    color: #111;
    font-family: Exo 2;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.mark {
    text-decoration: underline;
    color: #6047EC;
    font-family: Exo 2;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.read {
    margin-right: 24px;
    color: rgba(17, 17, 17, 0.60);
    text-align: right;
    font-family: Exo 2;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icon-read {
    margin-right: 24px;
    filter: drop-shadow(5px,5px,5px rgba(0,0,0,0.8));
}

.coder {
    display: flex;
    align-items: center;
}

.coder p {
    margin-right: 15px;
}

.info-details {
    padding-left: 24px;
}