.data-analysis{
    position: fixed;
}

.spent-time {
    margin-top: 50px;
    color: #6047EC;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    border-radius: 8px;
    border: 1px solid #6047EC;
    background: rgba(96, 71, 236, 0.10);
    padding: 21px 40px;
}