nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    height: 100px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    margin-right: 20px;
}

.navbar a:hover {
    color: orangered;
}